/target
.DS_Store
**/.DS_Store

# Editor / IDE artifacts
*.swp
*.swo
*~
*.orig
*.bak
.idea/
.vscode/
*.code-workspace
*.iml
.history/
*.rs.bk
.dir-locals.el
*.sublime-project
*.sublime-workspace
.fleet/
